<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-image: url('/image/opace.jpg');
            margin: 0;
            background-repeat: repeat;
            background-size: 1600px 770px;
        }

        li {
            float: left;
        }

            li a, .dropbtn {
                display: inline-block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

                li a:hover, .dropdown:hover .dropbtn {
                    background-color: blue;
                }

            li.dropdown {
                display: inline-block;
            }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: left;
            }

                .dropdown-content a:hover {
                    background-color: #f1f1f1;
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }
    </style>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mon application ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("GO VOYAGE", "homePage", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropbtn">espace client</a>
                        <div class="dropdown-content">
                            <a href="#about">@Html.ActionLink("Rechercher Vol", "Index", "Home")</a>
                            <a href="#services">@Html.ActionLink("consulter les vols", "Index", "Calendriers")</a>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropbtn">espace compagnie</a>
                        <div class="dropdown-content">
                            <a href="#about">@Html.ActionLink("consulter les vols des compagnies", "Index", "Vols")</a>
                            <a href="#services">@Html.ActionLink("consulter les clients", "Index", "Clients")</a>
                        </div>
                    </li>

                    @*<li>@Html.ActionLink("À propos de", "About", "Home")</li>
                   <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <head>

        @RenderSection("head", required: false)

    </head>
    <div class="container body-content">
        @RenderBody()
        <hr />
     
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
